@use "../../styles/variables.scss";
@use "../../styles/base.scss";

.hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin: 2rem auto;
    background-image: url(../../assets/banner-new.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: darken;


    @media (max-width: 1512px){
        height: 66vh;
    }

    @media (max-width: 876px){
        height: 49vh;
    }

    @media (max-width: 744px){
        background-image: url(../../assets/banner-new-tablet.png);
    }

    @media (max-width: 430px){
        background-image: url(../../assets/banner-new-mobil.png);
    }
}

.hero__content{
    @media (max-width: 430px){
        position: relative;
        z-index: 1;
    }
}

.hero__buttons{
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    display: flex;
    gap: 1.25rem;
}

.hero__partner{
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}