@use "./variables.scss";


$font-color: #251749;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAF3FE;
    color: $font-color;
}

.container{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

.button-secondary{
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: 1px solid #bc81f8;
    color: #251749;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px rgba(89, 88, 88, 0.10);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.button-primary{
    padding: 1rem 1.5rem;
    background: linear-gradient(157deg, #F881F3 8.63%, #BC81F8 91.48%);
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px rgba(89, 88, 88, 0.10);
    font-size: 1rem;
    letter-spacing: 0.5px;
}