@use "./variables.scss";

$font-color: #0F2137;
$font-color-light: #6A6D8D;
$primary-color: #8D448A;
$bg-color: #F5F8FB;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: $font-color;
    font-family: 'DM Sans', sans-serif;
}

li{
    list-style: none;
}

.container{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 0;

    @media (max-width: 1290px){
        padding: 1.5rem 2rem;
    }
}

.heading__one{
    letter-spacing: 0.85px;
    line-height: 5rem;
    padding-bottom: 2rem;
    font-size: 3.85rem;
    font-weight: 600;

    @media (max-width: 1290px){
        font-size: 3.5rem;
    }

    @media (max-width: 876px){
        font-size: 2.5rem;
    }

    @media (max-width: 744px){
        font-size: 2rem;
    }
}

.heading__two{
    letter-spacing: 0.85px;
    line-height: 3.5rem;
    padding-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.heading__three{
    color: $font-color-light;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
    font-weight: 400;

    @media (max-width: 876px){
        font-size: 1rem;
    }
}

.description{
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    padding: 0.5rem 0;
    color: $font-color-light;
}

.paragraph{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.5rem;
}

.a-tag{
    color: $primary-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 0;
    cursor: pointer;

    &:hover{
        font-weight: 1000;
    }
}

.button-secondary{
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px rgba(89, 88, 88, 0.10);
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @media (max-width: 744px){
        font-size: 0.65rem;
    }
}

.button-primary{
    padding: 1rem 1.5rem;
    background-color: $primary-color;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px rgba(89, 88, 88, 0.10);
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @media (max-width: 744px){
        font-size: 0.65rem;
    }
}