@use "../../styles/variables.scss";
@use "../../styles/base.scss";

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.card{
    background-color: #fff;
    padding: 2rem;
    cursor: pointer;
}

.cards__button{
    padding: 1rem 0;
}