@use "../../styles/variables.scss";
@use "../../styles/base.scss";

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video__content{
    text-align: center;
    max-width: 40rem;
    padding-bottom: 1rem;
}

.video__tag{
    padding-bottom: 2rem;
}

.video__img img{
    border-radius: 1rem;
    width: 100%;
    height: auto;
}