@use "../../styles/variables.scss";
@use "../../styles/base.scss";

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;

    @media (max-width: 1290px){
        padding: 1.5rem 2rem;
    }

    @media (max-width: 480px){
        padding: 0;
    }
}

.nav__items{
    display: flex;
    align-items: center;
    gap: 1.75rem;
    font-size: 1.05rem;

    @media (max-width: 876px){
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #ccc;
        height: 100vh;
        width: 18rem;
        flex-direction: column;
        gap: 3rem;
        padding: 5.5rem 0;
        text-align: right;
        transition: opacity 0.5s ease-in-out;
    }

    &.show{
        opacity: 1;
        box-shadow: 3px 3px 8px 0px rgba(89, 88, 88, 0.30);
    }
}

.toggle-icon{
    display: none;
    cursor: pointer;
    position: relative;

    @media (max-width: 876px){
        display: block;
    }
}