@use "../../styles/variables.scss";
@use "../../styles/base.scss";


.service{
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading{
        text-align: center;
    }
}

.service__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 0;

    @media (max-width: 1290px){
        justify-content: center;
        gap: 2.25rem;
    }

    @media (max-width: 480px){
        padding: 1rem 0;
    }
}

.service__box{
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service__item{
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 6px 0px rgba(89, 88, 88, 0.10);

    @media (max-width: 744px){
        width: 6rem;
        height: 6rem;
    }
}

.one{
    background: linear-gradient(142deg, #FFBDA4 7.98%, #FF9871 85.98%);
}

.two{
    background: linear-gradient(142deg, #289EE8 7.98%, #8BC6F2 85.98%);
}

.three{
    background: linear-gradient(142deg, #FFCF50 98%, #FFE39C 85.98%);
}

.four{
    background: linear-gradient(142deg, #45DCDC 7.98%, #98EAEA 85.98%);
}